<div class="row game-title">
	<div class="col-lg-8">
		<h1><%- model.get('title') %></h1>
		<p><%- model.get('description') %></p>
	</div>
	<div class="col-lg-4">
		<img src="<%- model.get('image') %>">
	</div>
	<div class="col-lg-12">
		<% if(!_.contains(_.pluck(model.get('users'), 'username'), user.username)) {%>
			<% if(user) { %>
				<a href="javascript:void(0)"
					class="btn btn-info btn-small min-space-top pull-right purchase">
					Add to Library
				</a>
			<% } else { %>
				<a href="/#/login"
					class="btn btn-default btn-small min-space-top pull-right">
					Login to Purchase this Game
				</a>
			<% } %>

		<% } else { %>
			<span class="pull-right min-space-top label label-primary">You own this game</span>

		<% } %>

	</div>
</div>



<div class="row">
	<div class="col-md-3">
		<h5>Users who play this game</h5>
		<ul class="nav nav-pills nav-stacked">
			<% _.each(model.get('users'), function(user) { %>
				<li>
					<a href="#/user/<%- user.username %>">
						<%- user.username %>
					</a>
				</li>
			<% }); %>
		</ul>
	</div>


	<div class="col-md-3">
		<h5>Items</h5>
		<ul class="nav nav-pills nav-stacked">
			<% _.each(model.get('items'), function(item) { %>

				<!-- Modal -->
				<div class="modal fade" data-item="<%- item.title %>">
				  <div class="modal-dialog">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				        <h4 class="modal-title"><%- item.title %></h4>
				      </div>
				      <div class="modal-body">
				        <%- item.description %>
				      </div>
				      <div class="modal-footer">
				        <button type="button"
				         class="btn btn-primary purchase-item"
				         data-item="<%- item.title %>">
				         	Purchase
				         </button>
				        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				      </div>
				    </div><!-- /.modal-content -->
				  </div><!-- /.modal-dialog -->
				</div><!-- /.modal -->

				<li>
					 <a href="javascript:void(0)" 
					 	class="detail-item"
					 	data-item="<%- item.title %>">
						<%- item.title %>
					</a> 
				</li>

			<% }); %>
		</ul>
	</div>



	<div class="col-md-3">
		<h5>Achievements</h5>
		<ul class="nav nav-pills nav-stacked">
			<% _.each(model.get('achievements'), function(achievement) { %>
				<!-- Modal -->
				<div class="modal fade" id="<%- achievement.title.replace(/ /g,"_") %>" tabindex="-1" role="dialog" aria-labelledby="lol" aria-hidden="true">
				  <div class="modal-dialog">
				    <div class="modal-content">
				      <div class="modal-header">
				        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				        <h4 class="modal-title" id="lol"><%- achievement.title %></h4>
				      </div>
				      <div class="modal-body">
				        <%- achievement.description %>
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				      </div>
				    </div><!-- /.modal-content -->
				  </div><!-- /.modal-dialog -->
				</div><!-- /.modal -->

				<li>
					 <a href="javascript:void(0)" data-toggle="modal" data-target="#<%- achievement.title.replace(/ /g,"_") %>" >
						<%- achievement.title %>
					</a> 
				</li>
			<% }); %>
		</ul>
	</div>

</div>

<div class="row">
	<div id="discussions" class="col-md-12"></div>
</div>
