<div class="row discussion-thing">
	<div class="col-md-12">
		<form id="discussion-form">
			<div class="input-group">
				<div class="row">
					<div class="col-md-12">
						<input type="text" name="title" placeholder="Title" class="form-control"/>
					</div>
				</div>

				<div class="row space-top">
					<div class="col-md-12">
						<textarea rows="10" name="body" placeholder="Write some words..." class="form-control"></textarea>

					</div>
				</div>

				<div class="row space-top">
					<div class="col-md-12">
						<a href="javascript:void(0)"
							class="btn btn-small btn-default">
							Cancel
						</a>
						<a href="javascript:void(0)"
							class="btn btn-small btn-primary save-discussion">
							Save
						</a>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>