<div class="page-header">
  <h1>Community Leader Boards <small>for bragging rights.</small></h1>
</div>

<div class="row">
	<div class="col-md-3">
		<h5>Users part of Vapour</h5>
		<ul class="nav nav-pills nav-stacked">
			<% _.each(model.get('users'), function(user) { %>
				<li>
					<a href="#/user/<%- user.username %>">
						<%- user.username %>
					</a>
				</li>
			<% }); %>
		</ul>
	</div>
	<div class="col-md-3">
		<button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
		Show <span class="caret"></span>
		</button>
		<ul class="dropdown-menu" role="menu">
		<li class="show_games"><a href="javascript:void(0)">Users with all Games</a></li>
		<li class="show_achievements"><a href="javascript:void(0)">Users with all Achievements
		</a></li>
		<li class="show_items"><a href="javascript:void(0)">Users with all Items</a></li>
		</ul>
	</div>
	<% if(showGamesOnly) { %>
	<div class="col-md-3">
		<h5>Users who own ALL Games</h5>
		<ul class="nav nav-pills nav-stacked">
			<% _.each(model.get('users_with_all_games'), function(user) { %>
				<li>
					<a href="#/user/<%- user.username %>">
						<%- user.username %>
					</a>
				</li>
			<% }); %>
		</ul>
	</div>
	<% } %>
	<% if(showAchievementsOnly) { %>
	<div class="col-md-3">
		<h5>Users who own ALL achievements</h5>
		<ul class="nav nav-pills nav-stacked">
			<% _.each(model.get('users_with_all_achievements'), function(user) { %>
				<li>
					<a href="#/user/<%- user.username %>">
						<%- user.username %>
					</a>
				</li>
			<% }); %>
		</ul>
	</div>
	<% } %>
	<% if(showItemsOnly) {%>
	<div class="col-md-3">
		<h5>Users who own ALL items</h5>
		<ul class="nav nav-pills nav-stacked">
			<% _.each(model.get('users_with_all_items'), function(user) { %>
				<li>
					<a href="#/user/<%- user.username %>">
						<%- user.username %>
					</a>
				</li>
			<% }); %>
		</ul>
	</div>
	<% } %>
</div>

