<!DOCTYPE html>

<!--

,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,::::,,,,,,,,,,..,,,,,::,,,:,,,,,,,,,,:::,,,,,,,,,,,,..................................................................................................................
,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:::::,,,,,,,,,,..,,,,,::,:,,,,,,,,,,,,,::,,,,,,,,,,,,..................................................................................................................
,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:::,,,,,,,,,,,,..,,,:::::::,,,,,,,,,,,,::,,,,,,,,,,,,..................................................................................................................
,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:::,,,,,,,,,,,,,,,,::::::::::,,,,,,,,,,:,,,,,,,,,,,,,..................................................................................................................
,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:,,,,,,,,,,,,,,,,,,::::::::::::::,,,,,,,:,,,,,,,,,,,,..................................................................................................................
,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,::::::::::::::::,,,,,,,,,,,,,,,,,,,..................................................................................................................
,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,::::::,,::::::::,,,,,,,,,,,,,,,,,,,..................................................................................................................
,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,::::::::::::::::,,,,::,,,,,,,,,,,,,..................................................................................................................
,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:::::,,::::::,,,,,,::::,,,,,,,,,,,,.....................................`....................`.......................................................
,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,::::,,,,::,,,,,,,,,:::::,,,,,,,,,,...........................................................`.......................................................
,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:,,,,::,,,,,,,,,,,,,,,,,,:::::,,,,,,,,,...................................................................................................................
,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,::,,,,,,,,,,,,,,,,....,,,,:::::,,,,,,,,,...................................................................................................................
,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,::,,,,,,,,,,,,,,......,,,:::;;::,,,,,,,,...........................................................,,,,,,,.................................................
,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:::,,,,,,,,,,,,,........,,::::;;:,,,,,,,,.........................................................,,,::::::,................................................
,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,::::,,,,,.,,,,,,........,,,,::;;;::,,,,,,.........................................................,,,,::::;::................................................
,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,::,,,,,,,,:::,,,,,,.,,,,,,........,,,,::;;;;:,,,,,,.......................`.............................`..,::::::::;;:,...............................................
,,,,,,,,:::,,,,,,,,,,,,,,,,,,,,,,:,,,,,,,,::::,,,.,,.,,,,,.........,,,,:::;;;:,,,,,,.......................................................,,:;:::;;;;;;:..`............................................
::::::::,:,,,,,,,,,,,,,,,,,,,,,,,::,,,,,,,,::,,,,.,,,.,,,,..........,,,::;;;;;:,,,,.......................................................,,,:;:;;;;;;;;;,..............................................
::::::::::::,,,,,,,,,,,,,,:::,,::,:,,,,,,,,,,,,,,.,,,,,,,...........,,,::;;;;;::,,,......................................................,,,::;;;;;;;;;;;:..............................................
:::::::::::,,,,,,,,,,,,,,,::::::::,,,,,,,,,,,,,....,.,,,,..........,,,,::;;;;;;:,,,......................................................,,,:::;:::;;';;;:..............................................
:::::::::::,,,,,,,,,,,,,:::::::,,,,,,,,,,,,,,,......................,,,::;;;;;;::,,................................`....................,,,:::::::;''''';;,.............................................
:::::::::::,,,,,,,,,,,,,,,::,,,,,,,,,,,,,,,,,......................,,,,::;;;;;;;:,,......................................`.............,,,::::::;;;;;';';;:.............................................
:::::::::::,:,,,,,,,,,,,,,,,,,,,,,,,,,,,,..........................,,,:::;;;;;;;::,......................................`............,,::::::::;;;;'';;;;:.............................................
:::::::::::,,,,,,,,,,,,,,,,,,,,,,,.................................,,,,::;;;;;;;::,,......................................```........,,,:::::::::;;';'';';:............`................................
:::::::::,,,,,,,,,,,,,,,,,,,,,,....................................,,,,:;;;;;;;;;::,.......................................`...```..,,,::;::::::::;;;;;';';,............................................
:::::,,,,,,,,,,,,,,,,,,,,,,........................................,,,,::;;;;;;::::,...............................................,,,:::::::::::;;;;;';'';,............................................
,,,,,,,,,,,,,,,,,,,,,,,...........................................,,,,,::;;;;;;;::::,.............................................,,,,:;:::::;:;;;;;;;'''';:............................................
,,,,,,,,,,,,,,,,,,..........................,.....................,,,,:::;;;;;;;:;:::,...........................................,,,,:::;;:;;;;;;;;;;;;;;'':............................................
,,,,,,,,,,,,,............................,,,,,,,,,...............,,,,,::::;;;;;;;;:::,...........................`..............,,,,::;:::;::;;;;;;;;;;;'';;,...........................................
,,,,,,,,................................,,,,,.,,,,...............,,,:::::::;;;;;;;::::,,........................`.....``.....`.,::,::;;;::::;;;;;;;;;;;;;;;:,...........................................
,,,,,,................................,,,,,,,...,,......,,,,,,,..,,,:::::::;;;;;;;;;;::,,.....................................,::::;;;;:;::;;;;;;;;;;;;;';;;,..`........................................
,...................................,,,,,,......,.,,,,,,,,,,,,,.,,,,::::::::;;;;;;;;;::::,,......................`...........,::::;;';;:::;;;;;;;;;;;;;;;;';,...........................................
...................................,,,,,,,....,,,,,,,,,,,::::,,,,,,,:::;;::::::::::::::::::,,,,,............................,:::::;;';::;;;;;;;;;;;;;;;;;;;;:...........................................
.................................,,,,,,,,,,,,,,,,,,,,:::::::::,,,,,::;;;;:::::::::::,::::::::::,,,,,........................::;:::;;;;:;:;;;;;;''';;;;;;;;;;,...........................................
..............................,,,,,,,,,,,,,,,,,,,,:::::::::::::::,,::;;;:::::,,,:::::::::::::::::::::,:::::::,,,,,,........,:::::;;';;;;;;;;;;;;;';';;;;;;;;:...........................................
............................,,,,,,,,,,,,,,,::::,:::::::::::::::::,,::;;;:::,,,,::,:::::::::::::::::::::::::::::::::::,:,,,,:::;;;;';;:;;;;;;;;;''';;;;;;;;;;,...........................................
.........................,,,,,,,,,,,,,,:::::::::::::;;:::::::::::,,::;::,::,,,,,:,::::::::::::::::::,:::::::::::::::::::::::::;;;'';;:;;;;;'''''''';;;;;;;;;:.........``................................
....................,,,,,,,,,,,,,:::::::::::;;::::;;;;;;;::::::::,:::::,,,,,,,,,,,:::::,:::::::::::,::::::::::::::::::::::::::;;''';;;;;;;;;;''''''''';;;;;;:...........................................
................,.,,,,,,,,,,::::::::::::;;;;;;;;;;;;;:::::::::::,,::,,,,,,,,,,,:,::::::::::::::::::::,:,,::::::::::::;;;;:;;::;;'';;;;;;''''''''+'''';;;;;;;:...........................................
..............,,,,,,,,,,,:::::::::::;;;;;;;;;;;;;;;;:::::::::::::,,,,,,,,,,,,,,,,::::::::::::::::::::::,,:::::::::::::;;;;;;;;;''';;;;;''''+++++++'';;;;;';;:...........................................
........,,,,,,,,,,,,:::::::::::::;;;;;;;;;;;;;:;:::::::::::::::::,,,,,,,,,,,,,,:::::::::::::::::::::::,:::,:,,::::::::;;;;::;;''';;;;;;''''+++++++'';;;;;;;;:...........................................
...,,,,,,,,,,,,,:::::::::::::;;;;;;;;;;;;;;;;::::::::::::::::::,,,,,,,,,,,,,,,:::::::::::::::::::::::,,::,,,,,,:::::::;';;:;;'''';;;;;;';''++++++''';;;;;;;;,...........................................
,,,,,,,,,,,,,:::::::::;;;;;;;;;;;;;;;;;;;::;:;::::::::::::::::,,,,,,,,,,,,,,,,,,:::::::::::::::::::::,,:,,,,,,,:::::::;;;;;;''''';;::;;;'''++++++'';;;;;;;;;,...........................................
,,,,,,,,:::::::::;;;;;;;;;;;;;;;;;;;;::;::::::::::::::::::::,,,,,,,,,,,,,,,,,,,,::::::::::::::::::::::::::,:,,::::::::::;';''''';;;:;;;;;;''++++++';;;;;;;;;,...........................................
,:::::::::::;;;;;;;;;;;;;;;;;;;;;;;;::::::::::::::::::::::,,,,,,,,,,,,,,,,,,,,,:::::::;:::::::::::::::::::::,:::::::::::;;'''''';;;;;;::;''+++++++';;;;;;;;;,...........................................
::::::;;;;;;;;;;;;;;;;;;;;;;;;;;;::::::::::::::::::::::::,,,,,,,,,,,,,,,,,,,,,,:::::::;:;::::::::::::::::,:,:::::::::::::;''';';;;;;;:;;;'+'+#+++';;;:;;;;;:............................................
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;;::;;::::::::::::::::::::::,,,,,,,,,,,,,.,,,,,,,,,::::::;;;::::::::::::::::::::::::::::::::::;'''';;;;;:;;;;''+##+++'';:;;;;;;:............................................
;;;;;;;;;;;;;;;;;;;;;;;;;;;;;::::::::::::::::::::::::,,,,,,,,,,,,,,.,...,,,,,,:::::::;;;:::::::::::::::::::::::::::::::::::;''';;;;;;;;;;;+##++++';;;;;;;;;:............................................
;''''';;;;;;;;;;;;;;;;;;;;;::;:::::::::::::::::::,,,,,,,,,,,,,,,,,,,......,,,,,,:::;:;;::::::::::::::::::::::::::::::::::::;;;';';;;;;;;;+##++'+'';;;;;;;;;,............................................
;'''';;;;;;;;;;;;;;;;;;;;;:;:::::::::::::::::::,,,,,.,,,,,,,,,,,,,,,......,,,,,,:::::;:::::::::::::::::::::,:::::::::::::::::;';';;;;;;'+###++++'';:;;:;;;:.............................................
;;;;;;;;;;;;;;;;;;;;;;;;;::::::::::::::::::::,,,..,.,,,.,,,,,,,,,,,.......,,,,,:::::;;:::::::::::::::,::::::::::::::::::::::::;;;;;;;;;+###++++'';;:;::;;;:.............................................
;;;;;;;;;;;;;;;;;;;;;;;;;::::::::::::::::::::,,...,,,,,,,,,,,,,,,,.........,,,,:::::;:::::::::::::,,,::::::::::::::::::::::,::;;;;;;;;+###++++''';::::;;;;,.............................................
;;;;;;;;;;;;;;;;;;;;;;;;::::::::::::::::::::,,....,,,,,,,,,,,,,,,,....,....,,,:::;;;;::::::::::::::::::::::::::::::::::::::::::;;;;;;'####++++'';;::::;;;:..............................................
;;;;;;;;;;;;;;;;;;;;;;;:::::::::::::::::::,,,.....,....,,,,,,,,,,........,.,,,::::;;:::::::::::::::,,:,,:::::::::::::::::::,::::;;;;'##+#++++'';:::::;;;;:..............................................
;;;;;;;;;;;;;;;;;;;;;;:::::::::::::::::::,,,,....,,..,,.,,,,,,,,,.,,.......,,,:::;;;::::::::,,,,:,,:,::::::::::::::::::::::,::,::;;;+#+++++++';;:;::;;;;;:..............................................
;;;;;;;;;;;;;;;;;;;;;;:::::::::::::::::::,,.....,....,,,,,,,,,,,,,,,,,.,,.,,,:::::;::::::,:,:,,,,,,,::,,,::::::::::::::::::::,::::;'++'++++'';;;;;;;;;;';:,.............................................
;;;;;;;;;;;;;;;;;;;;;;::::::::::::::::::,,,....,,,....,,,,,,,,,,,,,,,..,,,,,,:::::;::::::::,,,,,,,,,,,:,::::::::::::::,,:::::::::::;';;+++''';;;;;;;;''';:,.............................................
;;;;;;;;;;;;;;;;;;;;;;::::::::::::::::::,,....,,,,,.,..,,,,,,,,,,,,,,,,,,,,,:::::;::::::::,,,,,,,,,,,,,:::::::::::::::::::::::::,,::;;;'++';;;;;;;;;++';;:,.............................................
;;;;;;;;;;;;;;;;;;;;;::::::::::::::::::,,,....,,,.,...,,,,,,,,,,,,,,,,,,,,,,:::::;:::::::,,,,,,,,,,,,,:,::::::::::,:::::::,::,:::,:::;;;'';;;;;;;;;++';:;:,,............`...............................
;;;;;;;;;;;;;;;;;;;:::::::::::::::::::,,,,...,,,,....,,,,,,...,,,,,,,,,,,,,,::::;;:::::::,,,,,,,,,,,,,,::::;;;::::::::::,,::::,,,:::::;;;;;;;;;;::;'';::::,,............................................
;;;;;;;;;;;;;;;;;::::::::::::::::::::,,,,,,..,,,,....,,,,,,,,,,,,,:,,,,,,,,:::::;::;;:::,,,,,,,,,,,,,,,::::::::::::::::::,:::,:,:::::::;;;;;;;;;;::;:::;;:,,............................................
;;;;;;;;;;;;;;::;::::::::::::::::,,,,,,,,.,,,,,,,,.,,,,,,,;;;;:,,::,,,,,,,,::::;:;;;:::,,,,,,,,,,,,,,,,:::::::::::::::,::::,::,,,,,,:::::;;;;;;;;:;;:::;::,,............................................
;;;;;;;;;;;;:::::::::::::::::,,,,,,,,,,,..,..,,,,...,,,,:+####+;::::,,,,,,:::::::::::::,,,,.,,,,,,,,,,,,,:::;::;:::::::,,,::::,,,,,,,,,::::;;;;;;;;;;';;;::,,,..........................................
;;;;;;;;;;::::::::::::::::,,,,,,,,,,,,,,...,........,,,:+######+':,,,,,,,:::::::::::::,,,,,,,,,,,,,,,,,,,,,::::::::::::,:::::,,,,,,,,,,,:::;;;;;;;;;;'';;;:,,...........................................
;;;;:::::::::::::::::,,,,,,,,,,,,,,.,,,,............,,,;#''#####+;:,,,,,::::::::::::::,,,,,,,,,,,,,,,,,:,,,::::::::::::::::::,,,:,,,,,,,,:::;;;;;;;''';;;;:,,,..........................................
:;:::::::::::::::,,,,,,,,,,,,,,,....................,,:+':'.++++#';,,,,:::::::::::::::,,,,,,,,,,,,,,,,,,::,,:::;:::::::::::::,::,,:,,,,,,,:::;;;;;;;;;;';;::,,,.........................................
::::::::::,,,,,,,,,,,,,,,,,..................`````..,,:',+;''#'`++',,,,,:::,:,::::,:::,,,,,,,,,,,,,,,,,::::,::::::::::::::::,::,,,,,,,,,,,::::;;;;;;;''';;::,,,,........................................
:::,,,,,,,,,,,,,,,,,,,,.....................``````...,:,;+'++#+'#+;,,,:::,,,,,:::::,,:,,,,,,,,,,,,,,,,,::::,,:::::;::::::::::,:::,,,,,,,,,,::::;;;;;;;;;;;:::,,,........................................
,,,,,,,,,,,,,,,,,..........................```````...,:.'++++####+;:::::,,,,,,,:,,,,::,,,,,,,,,,,,::;:::,,:::::::::::;::::::,:,,,,,,,,,,,,,,:::;;;;''''';;:::,,.........................................
,,,,,,,,,,................................````````...,;.++++#####'::,,,,,,,,,,,,,,,,,:,,,,,,,,,:,:;'';::::::::::::::::::::::,,:,,,,:,,,,,,,,,:::;:;''''';;:::,,,........................................
,,,,......................................```````....:;.'''++###+;:,,,,,,,,,,,,,,,,,,::,,,,,,:::;+#####';;:::::::::::::::::::::,,,:::,,,,,,,,::::;:;''''';;:::,,........................................
.........................................````````....:;,;+''++##':::,,,,,,,,,,,,,,,,::,::::,:::;+###@@@@#';::;:::::::::::::,,,,,,,:,,:::::,,,:::::;;''+'';;:::,,,.......................................
......................................,..```````....,:;:;+''++##;::,,,,,,,,,,,,,,,,,::::::::::;##+;+#@@@@##;::;;:::::,:::,:,,,,:::::::,,,,,,,:::::;;;'''';;:::,,,.......................................
.........................................```````.....:;:;++'++#;,,,,,,,,,,,,,,,,,,,::::::;;;;'+#',. .'##@@##;::;::::::::::::,,,::::::,,,,,,,,::::::;;;''';;:::,,,.......................................
........................................```````.....,::;''++'';,,,,,,,,,,,,,,,,,,,,:::::;:;''##',.:',:+'##@##;;;::::::::,::::,,,:::::,,:::,,::::::::;;;'';;:::,,,.......................................
.......................................````````.....,,,;;;;';;,,,,,,,,,,,,,,,,,,,,::::::;;;+##+:,,;++######@#+;;;::::::,,,,,:,,,,::::,,:,:,:,:::::::;;;'';;::::,,.......................................
.......................................````````..,,,,,,::;;:,,,,,,,,,,,,,,,,,,,,,,::::;;;'++##',,,+###########';;:::::,,,,:,,,,:,::,,::,,,,::::::::::;;;;;;::::,,.......................................
.......................................````````..,,,,,,,:::,,,,,,,,,,,,,,,...,,,,,,::;;;''+###;,,:######+######;:::::,,::::,:,,,,,:::,,:::::,,:::::::;;;;;:::::,,.......................................
......................................`````````..,,,,,,,,,,,,,,,,,,,,,.,.,,..,,,,,,,:;'''+###+:,:;#####@####+++;:::::::,,,,,,,,::,,::,::::,,,,:::::::;;;;:::::,,,.......................................
......................................`````````..,,,,,,,,,.,,,,,,,,,,,,,.,,,,,,,,,,::;;;'+###+:::'####@####+'+;:::::::,,,,,,,,,,,,,,,,,:,,,,,,::::::::;;:::::::,,.......................................
.....................................``````````..,,,,,,,,...,,,,,,,,,,,,,,,,,,,,,,,,:::;;'+++#;:;'+++######;';:,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,::::::::::::::,,.......................................
.....................................`````````...,,,,,,,...,,,,,,,,,.,,,,,,,,,,,,,,::;:;;;+++#+;;'++++####;'':,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:,,,,:::::::::::::::,,.........................``............
....................................``````````...,,,,,,...,,,,,,,,..,,,,,,,,,,,,,,,,::;:::+++#+';'+#+####'';,,,,,,,,,,.,,,,,,,,,,,,,,,,,,,,,,,,::::::::::::::::,,,......................................
....................................`````````.....,,,......,,,..,.,,,...,,,,,,,,,,,::::::::;'+++':'++''''';,,,,,,,,,,,....,.,,,,,,,,,,,,,,,,,,,:::::::::::::::::,,......................................
....................................``````````.`...,,....,,,,,,...,.,,,...,,,,,,,,,::::::,::::''''';;;';;;,,,,,,,,,,,,.....,,,.,,,,,,,,,,,,,,,,,,,::::::::::::::,,......................................
...................................`````````..`.........,,,,,.,,,,,,,,,.,,,,,,,,,,,,:::::,,,:::::;';;'::,,,,,,,,,,,,,....,....,.,,,,,.,,,,,,,,,,::::::::::::::::,,......................................
...................................`..```````.```.......,,,,,,,,,,,,,,,,,,,,,,,,,,,,::::::,,,,,,::::,::,,,,,,,,,,,,.............,,,,,,...,,,,,,,::,:::::::::::::,,......................................
..........,,,.............,........``..```````````.`..,,,,,.,,,,,,,,,,,...,,,,,,,:,,,,::::,,,,,,,:,:::,,,,,:,,,,,,,............,,,,,,,,,,,,,,,,,,,,,::::::::::::,,......................................
..........,,,,.....................```..``````````.,::::::,,,,,::,,,,,......,,,,,,,,,:,::,,,,:::,,::,:,,,,::,,,,,,,...........,,,,,,,,,,,.,,,,,,,,,,,:::::::::::,,......................................
,,,,.....,,,,,..........,,,,,......````..```````.:;;;;;;;;;;::::,,,,,,.,,.,,,,,,,,,,,,,,,,,,,,,::::::,,::::,,,,,,,...........,,,,,,,...,,,,,,,,,,,,,,,::::::::::,,......................................
,,,,,,.,,,,,,.........,,,,,,,,.....`````..`````,:::;;;;;;;'''';::,,,,,,,....,,,,,,,,,,,:,,,,,,,::::,,::::,,,,,,,,,..........,,,,,,,,,,.,,,,,,,,,,,,,,,,:::::::::,,,.....................................
,,,,,,,,,,,,,,,,......,,,,,,,,.....`.```...```:;;;''';';;;;;''''::,,,,,,..,,..,,,,,,,,,,,,,,,,,:,,,,::::,,,,,,,,,,...........,,,,,,,...,,,,,,,,,,,,,,,,::::::::::,,.....................................
,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,....`.`.....``.++++++++++'';'+++'+;:,,......,,,,,,,,,,,,,,,,,,,,,,,,:::::,,,,,,,,,,,...........,,,,,,,,,,,,,,.,,,,,,,,,,:::::::::,,,,....................................
,,.,,,,,,,,:::;:::,,,..,,,,,,,,,,..`.....````;+++#########++++++++;:,,....,....,,,,,,,,,,,,,,,,,,,,:::,,,,,,,,,,,.....................,,,,,,,,,,,,,,,,,,:::::,,,:,,,....................................
,,..,,,,,,,:'''';::,,,,,,,,,,,,.........````.++###############+++++':,..........,,,,,,,,,,,,,..,,,,,,,,,,,,,,,,,,,.........................,,,,,,,,,,,,,,::::,,,,,,,....................................
,,,,,,,,,,,:;''''';:,,,,,,,,,,,...`....`````.+##@#########@#####++++;,...........,,,,,,,,,...,..,.,,,,,,,,,,,,,,,,....................,.,.,,,,,,,,,,,,,::::::,,,::,,....................................
::,,,,,,...,:;''''';::,,,,,,,,,..`......````.+###########@@@#####+++;,...........,,,,,,,,,,,,,.........,,,,,,,,,,,,,,................,....,,,,,,,,,,,,,,::::,,,,::,,,...................................
::,,,,,....,,:;'''';;:,,,,,,,,,,.,,,,,,.```..;#@@#######@@@@@####++';,............,,,,,,,,,,,,..........,,,,,,,,,..,.......................,,,,,,,,,,,,,::::,,,,::,,,...................................
::,,,,,,....,,:;''';;;::,,,,,,,.```.....```.,:'@@#+#####@@@@@####++';,,...........,,,,,,,,,,.............,,,,,,,...................,.......,,,,,,,,,,,,,::::::,::,,,,...................................
,,,,,,,,.....,:;;'';;;::,,,,,,..```.....```.,:;##+######@@@@@######';,,......,,...,,,,,,,,,,,......,......,....,,,...............,.......,,,,,,,,,,,,,,:::::::,,::,,,,..................................
,,,,,,,,,,...,,:;;';;;::,,,,,,..```.........:;::'+#######@@@@@#####';,,.....,,...,,,,,,,,.,,......,......................,,....,,....,,,,,,,,,,,,,,,,,:::::::,::::,,,,..................................
,,,,::::,,,...,,::;;:::,,,,,,,..```...``...,:'++++#########@@@@@@#+'::,,..........,,,,,,,,,,.....,................,..,,.....,,,....,,,.,,,,,,,,,,,,,,::::::::::,::,,,,..................................
,,,:::::::,,...,,,:::,,,,,,,,..```....``...,:'#++#########+##@###++;:,,...,..,...,,,,,,,,,,......,...............,,.,.,,.,.,,,,,..,,,,,,,,,,,,,,,,,,:::::::::::::,,,,,..................................
,,::;;;;;::,....,,,,,,,,,,,,,,....`..```...,,;#+++##########+###+''':,,,.,...,,,,,,,,,,,,,......................,.,,.,,,,.,,,..,,,,,,,,,,,,,,,,,,,,,::::::::,:,::,,,,,,.................................
,,:;;;;;;;:,,...,,,,,,,,,,,,,,.````..,...,,,:;+#+++############++''::,,,,,,,,:,::,,,,,,,,,,,,,........,..........,,......,..,,,,,,,,,,,,,,,,,,,,,,,,::::::::::::::,,,,,,................................
,,:;;;;;;;:,,...,,,,,,,,,,,,,,....,,,,,...,,::'+###############+'+;;:,,,,::,,:,:,,,,,,,,,..,,,,,,.......,........,,.........,,,,,,,,,,,,,,,,::::,,,,::::::::::,,:,,::,,,................................
,:;';;;;;;;:,,..,,,,,,,,,,,,,...........,.,,:;''+#############++';;;:,:;,::,,.,,.,,,,,,,,,,......,,...,..,.........,,...,..,,,,,,,,,,,,,,,,,,,,,,,:::::::::::::::,::,,,,................................
::;'';;;;;;:,,..,,,,,,,,,,,,,,,........,,,,,:;''++##########++''';:::,,:,,,,,.,..,,,,,,,,.........,,,,,,.........,,,,,.,,,,,,,,,,,,,,,,,,,,,,,,,::,:::::::::::::::::,,,,................................
::;;;;;;;;;:,,,,,,,,,,,,,,,,,,..........,,:::;;'+++#######++'''+;::;;,,,,,..,,,.,,,,,,,,,,...,.,,,.,,,,,,.,,......,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,::::::::::::::::::,,,,................................
:;;;:::::;;:,,.,,,,,,,,,,,,,,,.`........,,,:;;'''+++#####++++'''';,:;,,,,,,,,,,,,,,:,,,,,.,,..,,.,,,,,.,,,..,........,,,,,,,,,,,,,,,,,,,,,,,,,,,,,::::::::::::::::::,,,,................................
:;;::,,,,:::,,,,,,,,,,,,,,,,,,...........,,::''''+++#++++++++++;'::,,,,,,:,::,:,,:::,,,,,,,.,,,.,,,,,,.,.,,,....,,.,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,::::::::;:::::::::::,,,,...............................
:;::,,...,,,,,,,,,,,,,,,,,,,,......`...,,,:;;;''''++++++++++'';;;:::,::,':,:::,,,:,,,,,,,,,,,,,,,,..,,.,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,::::::;;:::::::::::,,,,,...............................
;;:,,.....,,,,,,,,,,,,,,,,,,,,..........,,:;:;''''''++++'+++++'';''::':,;:,,,,:,,:,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:,,,,,,,,,,,,,,:::::::::::::::::::,,,,,,,..............................
;::,,......,,,,,,,,,,,,,,,,,,,..........,,,::';'''''+''+++++'++';;;:::,,,:,,,,,:,,,,,,,:,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:::::::;;;::::::::::::,,,,..............................
;;:,,,....,,,,,,,,,,,,,,,,,,,,..........,,,:;;'''''''+''''''+++';;:::,,,,,,,,:,,:,,,:::,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:::::::::::::::::::::::,,,,...............................
;;:,,,,,,,,,,,,,,,,,,,,,,,,,,,......`..,.,,:;';''''++#++'+''+'''';::;,::,,:,,;:::,,,:,::,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,::::::::::::::::::::::,,,,...............................
;;::,,,,,,::,,,,,,,,,,,,,,,,,,........,..,,,:;'++#######++''';''';;';:;::::,:::,::,,:::::::::,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,::::::::::::::::::::::::,,,,,,..............................
;;:::,,,,,::,,,,,,,,,,,,,,,,,,..........,,.,,;''###@@@@###''+;++';;;::;:::::::::,,,::::::;::,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:::::::::::;::::::::::,,,,..............................
::::::,,,:::,,,,,,,,,,,,,,,,,,.......,..,.,.,;'''+####@@@#+##'++'';:::::::::::::,::::::::::::,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,::::::::::::::::::::::,,,,,.............................
.,,,,::,:::::,,,,,,,,,,,,,,,,,..............,;'++++++######@@#@#+';;;::::::::,,,:,::::::::::::,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,.....,,,,,,,,,,,,,,:::::::::::::::::::,,,,,..............................
.......,,,,:::,,,,,,,,,,,,,,,,...............:''+++++++###########';;::::::::,,::::::;;:;::::::,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,..,..,...,,,,,,,,,,,::::::::::::::::::,,,,,...............................
````........,,,,,,,,,,,,,,,,,,...............,;'''+++++++++#+######+'::::::,,,,:;;;';'+''';::::,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,.,,,,,,,,,,,,,,,,:::::::::::::::::::::,,,,,.............................
```````````.........,,,,,,,,,,,..............,:''''++++++++++#######+''';::;;;'''++#+'#++';::::,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,...,,,,,,,,,,,,,,:::::::::::::::::::::::,,,,,.............................
`````````````````..........................,.,::'''++++++++++++###+#####;:'+######+##'+';:::,::,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,.,,,,,,,,,,,,,,,::::::::::::::;::::::::,,,,,,,............................
`````````````````````````....................,,:;;''++++++++++++'+++####+++##++###+''';;;;:,,:,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:::::::;;::::::::::::::::::,,,,,...........................
```````````````````````````````............,,,,,,:;'+++'+++++++++++++++###''+'++'++'';;;;:::,,,,,,,,:,,,,,,,,,,,,,,,,,,,,,,,.,,,,,,,,,,,,,,,,::::::::::::::::::::::::::::,,,............................
````````````````````````````````...........,,.,,,,:;''''+++'++++'+'++++##+'''''+'''';;;:::,,,,,,,,,,::,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,::,:::;:;::;:::::::::::::::::,,,............................
````````````````````````````````..............,,,::;;;'''''''''''''''+++++''''';';;;';::,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,::,,,:::::::::::::;:::::::::::::,,............................
.````````````````````````````````............,.,,:::;;';;;;;;;;;;;';''''';;;;;;;;;;:;;::,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,::,:::::::::::::;;;;;;:::::::::,,,............................
`````````````````````````````````............,.,,,,::;;;;;;';;;;:;;;;;;;';;;:;;;;;;:;:::,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:,:::::;;::::;::;;;;;;::;;:::::::,,,...........................
..```````````````````````````````...........,,,,,,,:;;;;;;;;;;;;::::;;;;::;;:;;;:;::::::,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:::::::::::::;;;;::;;;;;;:::::::::,,...........................
....````````.````````````````````...........,,,,,,,,::;;;;;;;;;:::::;:;;::::;;;:::::::,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,::,::::::::::::;;;;::;;;;;::::::::::,...````````````````````````
........``.`.`````````````````````..........,,,,.,,,,,:;;;::::::::::::::::::::::::::,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:::::::::::::::::::;;;;;;:::::::::::,,,...```````````````````````
..........``.`````````````````````...........,,,,,,,,,,:::::::::::,::::::::::::,::,,,,,,,,,,,,,:,,,,,,,,,,,,,,,,,,,,,..,,,,,,,,,,,,,,:::::::::;;;;::::::::;;;;;;;;;:::::::,,,,,..```````````````````````
................`.....````````````...........,,,,.,,,,,,,::,,,:::,,,::::,:::,,,,,,,,,,,,,,,,,,,,,,,,,,,,:,,,,,,,,,,,.,..,,,,,,,,,,,,,:::::::::::::::::::::;;;;;;;;::::::::::,,,..```````````````````````
......................```````````.`..........,,,,..,,,,,,,,,,,,,,,,,,,:::,,,,,,,,,,,,,,,,,:,:,,,,,,,,,,::,,,,,,,,,,,,,,,,,,,,,,,,,,:::::::::::::::::::;;::;;;;;;;::::::::::,,,,...```````````.`.....````
..........................````````..........,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:,:,,,,,,,,,,,,,,,:::,,,,,,,,,,:,,,,,,,,,,,,,,,,,,,,,,,:::::::::::::::::::;;;;;;;;;;;;;:::::::::,,,,...`````.`````...........
...........................```.```..........,,.,,,,,..,,,,,,,,,,,,,,,,,,,,,,,::,,,,,::,,:::::::,,,,,,,,,,,,,,,,,,,.,,,,,,,,,,,,,,,::::::::::::::::::::::;;;;;;;;:::::::::::,,,...`.````.````...``...`...
...............................````..........,.,,,...,,..,,,,,,,,,,,,,,:,,:,,,::,,:::::,,::::::::,,,,,,,,,,,,,,,,,...,,,,,,,,,,,,,:::::::::::::::::;;;;;;;;;;;;;;::::::::::,,,......```.`...........`...
................................```............,,,,,,,,,.,,,,,,,,,,,,,:::::,,,,,:,:::::::::::::::::,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:::::::::::::::;;;;;;;;;;;;;::::::::::,,,,.....```.``......`.......
................................```............,,,,,,,,,,,,,,,,,,,,,,,::,,,,,,,,,,,,:,::::::,,,,:::,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:,:::,::::::;;:::::;;;;;;;;;;;;;:::::::::::,,,,......````...............
................................```............,,,.,,,,,,,,,,,,,,,,,,,,:,,,,,,:,::,,:::::::::,,,,::,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:::,::::::::::::;;;;;;;;;;;;;:;;::::::::::,,,,.........`...............
...............................``.....,,.......,,..,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:,:,:,,,,,::::,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:::::::::::::::;;;;;;;;;;::;;::::::::::::,,,,........`...............
......................................,,,...,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,::,,,,::::::,::::,,,,,,,,,,,,,.,,,,,,,,,,,,,,,,::,,,,,::::::::::::;;;;;;;;;;;;;;:::::::::::::,,,,.........................
......................................,,,,,,,,,,,,.,,,,,,,,,,,,,,,,,,,,::,,,,,:::,,,,,,::,,:::,,,,,,,,,,,,,,...,,,,,,,,,,,,,,,,:,::,::::::::::::;;;;;;;;;;;;;:;:;:::::::::,,,,,.........................
......................................,,,,,,,,,,,,.,,,,,,,,,,,,,,,,,,,,:,:,,,,,:::,,,,,::,:,:,,,,,,,,,,,,,,,,,,,,,,,,,,,,:,,,,,,,,,,,::::::::;;;;;;;;;;;;;;;:;:::::::::::,:,,,,.........................
.......................................,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,::,,,,,,::,:,:,::,,,::,,,,,,,,.,,,,,,,,,,,,,,,,,,,,,,,,,,,,,::::::::;::::;;;;;;;;;;;:::::::::::,::,,,,,........................
.......................................,,,,,,,,,,,.,,,,,,,,,,,,,,,,,,,,,,::,,,,,,::,,,::::,,,,:,,,,,,,,,.,,.,,,,,,,,,,,,,,,,,,,::,,,,,::::::::::;;;;;;;:;;;;:::::::::::::,,,,,,.........................
.......................................,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,::,,,,,,,::,,,,:::,:::,,,,,,,,,,,,.,,,,,,,,,,,,,,,,,::::::::::::::::::;;;;;;;;;;;;:::::::::::,:,,,,,,,.........................
......................................,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,::,:,,,,,::,,:,,:,,,,::,,,,,,,,,,,,,,,,,,,,,,:,,,,,,,::,,::::::::::::;;;;;;;;;;;;:::::::::::,:,,,,,,,,.........................
......................................,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:,:,:,,,,::,,::,::::::,,,,,,,,,,,,,,,,,,,,::,,,,,,,,,,,,::::::::::::;;;;:;;;;;;:::::::::,:,,,,,,,,,,,.........................
........................................,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:,:::,,,:::::,:::::,:::,,,,,,,,,,,,,,,,,,,:::,,,,,,,,,,,,,,,::::::::::::;;;;:;:::::::::::,,,,,,,,,,,..........................
........................................,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:,::::,::::,:,:::::::::,,,,,,,,,,,,,,,,::,::,,,,,,,,,,,,,,,,,:::::;;;;;;;:;;:::::,::::::,,,,,,,,,,,,..........................
........................................,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:,,:::::::,,:::::::::::,,,,,,,,,,,,,,,::,,,,,,,,,,,,,,,,,,,::::::;;;;;;:;;;;::::::,::,,,,,,,,,,,,,,..........................
........................................,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:,,::,:::::,::,:::::::::,,,::,,,,,,::,,,,,,,,,,,,,,,,,,,,:::::::::::::;;;;:::::::::::,,,,,,,,,,,,,,..........................
.........................................,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,::,,:,::::::::,:::,:::::,::::,::,,:::,,,,,,,,,,,,:,,,,:::::,:::::::::;;;;::::::::::,,,,,,,,,,,,,,,...........................
.........................................,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:::,,,,::::::::,:::::::::,:::::::::::::::,,,,,,,,,::::,,::::::::::::::::::::::::::,,,,,,,,,,,,,,,,,...........................
........................................,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,::,,,:::::::::::::::::::::::::::::,:,::,:,,,,,,::,,,,,,,,:,,::::::,:::::::::::::,,,,,,,,,,,,,,,,,,...........................
........................................,,,,,,,,,,,,,,,,::,,,,,,,,,,,,,,,,,:::,,:::::::::::::::::::::::::::::,,,,,,,,,,,,::::,,,,,,:::::::::::::::::,:,,,,,,,,,,,,,,,,,,,,,,,...........................
.........................................,.,,,,,,,,,,,,,:,::,,,,,,,:,,,,,,:::::::::::::::::::::::::::::::::::,,,,,,,,,,,:::::,,,,:::::::,:::::::::,,,,,,,,,,,,,,,,,,,,,,,,,,,...........................
..........................................,.,,,,,,,,,,,,,,:::,,,,,,:,,,,,,::::::::::::::::::::::::::::::::::,:,,,,,,,::::,:,,,,,:::,,:::,::::::::,,,,,,,,,,,,,,,,,,,,,,,,,,,,,..........................
............................................,,,,,,,,,,,,,,:::::::::::::,,,:::::::::::::::::::::::::::::::::,,,,,,:,,,:,,,,,,:,,,,,:::::::::;:;;::,,,,,,,,,,,,,,,,,,,,,,,,,,,,...........................
............................................,,,,,,,,,,,,,,,:::::::::::::::::::::::::::::::::::::::::::::::::,,,,:::,,,,,,,,,,,,,,,,,,::::::::::,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,...........................
..............................................,,,,,,,,,,,,,,::::::::::::::::::::::::::::::::::::::::::::,:,,,,,,,,,,,,,,,,,,,,,,,,,,,:::::,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,...........................
..............................................,,,,,,,,,,,,,,::::::::::::::::;::;::::;;:::::::::::::::::,,,,,,,,,,,,,,,,,,,,,:,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,...........................
...............................................,,,,,,,,,,,,,:::::::::::::::::::;:;;;:::::::::::::::,:,,,,,,,,,,,,,,,,,,,,,,,,,,:,,,,,,,,:,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,..........................
...............................................,,,,,,,,,,,,,,:::::::::::::::::;::;:::::::::::::::::,,,:,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,...,..,,,,..,,,,,,,,,..........................
.,,....,.......................................,,,,,,,,,,,,,,,:::::::::::::::::::::;:::::::::::,::,,,,,,,,,,,,,,:,,,,,,,,,,,,,,,,,,,,,:,,,,,,,,,..,,,,,,.....,,,,.,,,,,,,,,,,,..........................
,,.....,......................................,,,,,,,,,,,,,,,,,,::::::::::::::::::;:::::::::::,,,,,,,,,,,,,,,,:,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,....,,,,,,,,,,,,,,.,,,,,,,,,,,,,,,.........................
,,,...,,,.......................................,,,,,,,,,,,,,,,::::::::::::::::::::::::::::::,::,,,,,,,,,,,,::::,,,,,,,,,,,,,,,,,,,,,,,,,,,,..,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,..........................
,,,...,.,....................................,,,,,,,,,,,,,,,,,,,,:::::::::::::::::::::::::,,:,,,,,,,,,,,,,,,,::,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,.,,,,,,,,,,,,,,,,,,,,,,,,,,,:,,.........................
,,,,.,,,,,.....................................,,,,,,,,,,,,,,,,:,,::::::::::::::::::::,,:::,,,,,,,,,,,,,,,,,,,,,,,,,,,:,,,,,,,,,,,,,,,,,,,,,,,..,,.,,,,,,,,,,,,,,,,,,,,,,,,,,,,.........................
,,,.,,.,,..........,.............................,,,,,,,,,,,,,,,,,,,,:::::::::::::::::::,,,,,,,,,,,,,,,,,,,,,,,,:,,,:,,,,,,,,,,,,,,,,,,,,,,,,....,,,,.....,,,,,,,,,,,,,,,,,,:,,.........................
,,,,,,,,,,,.,,,,..,,,...........................,,,,,,,,,,,,,::,,,:::::::::::::::::::::,::::,,,,,,,,,,,,,,,:,,,,,,,:,,,,,,,,,,,,,,,,,,,,,,,.....,,,,,....,,,.......,.,,,,,,,:,,.........................
,,,,,,,,,,,.,,,,..,,.............................,,,,,,,,,,,,::::::::::::::::::::::,:::,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:,,,,,,,,,,,,,.,,,......,,,,,.....,,........,,,,,,,,:::,.........................
,,,,,,,,,,,,,,,,.,,,,,............................,,,,,,,,,,,,::,::,:::,::::;:::::::::::,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:::,,,,,,,,,,,,,,,.....,,,,,,....,,,.......,,,,,,,,,:::,.........................
,,,,,,,,,,,,,,,,.,...,........,.................,,,,,,,,,,,,,,,:,,:::::::::::::::::::,:::,,,::::,,,,,,,,,,,,,,,,,,,,,,,:::,,,,,,,,,,,,,,...,,,,,,,,..,,........,,,,,,,,,,,,::,,.........................
,,,,,,,,,,,,,,,,,,.,,,,.....,,....................,,,,,,,,,,,,,:,::::::::::::::::::::,::,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,:::,,,,,,,,,,,,.,,,,.,,,,,,,,,,,,,,.....,,,,,,,,,,,:::,.........................
,,,,,,,,,,,,,,,,,,,,,,,......,,,.................,,,,,,,,,,,,,,,::::::::::::::::,:,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,......,,,,,,,,,,,,,...,...,,,,,,,,,::,,.........................
,,,,,,,,,,,,,,,,,,,,,,,..,,.,,,,..................,,,,,,,,,,,,,,:::::,::::::::::::,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,.,,....,,,,,,,,,,,.....,,.,,,,,,,,,,::::,.........................
,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,..................,,,,,,,,,,,,,,:::::,,:::::::::,,:,,,,,,,,,,,,,,,,,,:,,,,,,,,,,,,,,,,,,,,,,.,,,,,,,,,....,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,::::,,........................
,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,...............,,,,,,,,,,,,,,,,,,::::::::::::::::,,:,,,,,,,,,,,,,,,,,,,:,,:::,,,,,,,,,,,,,,,..,,,,,,...,,,,,,,...,,,,....,,,,,,,,,,,,,,::::::,,........................
,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,.............,,,,,,,,,,,,,,,,,,,,:::::::::::::::,:::::,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,.,,,:::,,,,,,,,,,..................,.,,,,,,,,,,::::,,........................
,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,...............,,,,,,,,,,,,,,,,,,,::::::::::::::,,:,:::,,,,,,,,,,,,,,,,,,,,,:,,,,,,,,,,,,,,,,:;::,:,,,,,.,,,,..............,,,,,,,,,,,,::::::,,........................
,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,..............,,,,,,,,,,,,,,,,,,,::::::::::::::::::,,,,,,,,,,,,,,,,,,,,,,,,,,::,,,,,,,,,,,,,,,::::,,,,,.....................,.,,,,,,,,,,::::::,,........................
,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,...............,,,,,,,,,,,,,,,,,,,,:::::,,::::::::::,,,,,,,,,,,,,,,,,,,,,,,,,::,,,,.,,,,,,,,,,,,,,,,,,,,,......................,,,,,,,,,:::::::,,........................

-->


<html ng-app="vapourApp">
<head>
	<title>hello</title>

	<link href="/static/style.css" rel="stylesheet">
	<script type="text/javascript" src="/static/js/libs/require.js"></script>
	<script type="text/javascript" src="/static/js/app.js"></script>
	<script type="text/javascript">

		///	global user #yolo
		{% if user %}
		var user = {{ user|tojson|safe }};
		{% else %}
		var user = false;
		{% endif %}
	</script>



</head>
	<body>
		<nav class="navbar navbar-default" role="navigation">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
				<a class="navbar-brand" href="#">༼ つ ◕_◕ ༽つ</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse navbar-ex1-collapse">
				<ul class="nav navbar-nav">
					<li class="">
						<a href="/#/community">Community</a>
					</li>
				</ul>
				<ul class="nav navbar-nav navbar-right">
					{% if user %}


					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							{{ user.username }}
							<b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li class="">
								<a href="/#/user/{{user.username}}">Your profile</a>
							</li>
							<li class="">
								<a href="/logout">Log out</a>
							</li>
						</ul>
					</li>

					{% else %}

					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown">
							Profiles 
							<b class="caret"></b>
						</a>
						<ul class="dropdown-menu">
							<li class="">
								<a href="/#/login">Login</a>
							</li>
							<li class="">
								<a href="/#/register">Register</a>
							</li>
						</ul>
					</li>

					{% endif %}


				</ul>
			</div>
			<!-- /.navbar-collapse -->
		</nav>

		<div class="container">
			<div id="main">
			</div>
		</div>


	</body>
</html>