<!DOCTYPE html>

<html>
<head>
	<title>hello</title>

	<link href="/static/style.css" rel="stylesheet">
	<script type="text/javascript" src="/static/js/libs/jquery.min.js"></script>
	<script type="text/javascript" src="/static/js/libs/bootstrap.min.js"></script>
	<script type="text/javascript" src="/static/js/libs/handlebars.js"></script>
	<script type="text/javascript" src="/static/js/libs/ember.js"></script>
	<script type="text/javascript" src="/static/js/libs/ember-data.js"></script>

	<script type="text/javascript" src="/static/js/app.js"></script>
	<script type="text/javascript" src="/static/js/router.js"></script>
	<script type="text/javascript" src="/static/js/models.js"></script>

	<script type="text/x-handlebars" id="components/game-item">{% include 'hbs/components/game-item.html' %}</script>

	<script type="text/x-handlebars">{% include 'hbs/app.html' %}</script>
	<script type="text/x-handlebars" id="games">{% include 'hbs/games.html' %}</script>

</head>
<body></body>
</html>